* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #E5E5E5;
    padding-top: 50px;
}
.content {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: start;
    word-break: break-all;
}
h1 {
    grid-column: 1/4;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin: 0;
    margin-bottom: 60px;
}
h6 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.inputs-wrapper {
    margin-top: 30px;
}
.inputs-wrapper input {
    margin-bottom: 20px;
}
input[type="number"] {
    height: 53px;
    max-width: 255px;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.total-numb, .range-numb {
    margin-bottom: 40px;
}
.range-numb h6 {
    display: inline;
}

.total-numb h6 {
    margin-bottom: 10px;
    
}
.range-numb input {
    font-weight: 600;
    font-size: 18px;  
    width: 80px;
    color: #000000;
    background-color: transparent;
    box-shadow: none;
    padding-left: 0;
}
.total-numb input {
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.03em;
    color: #000000;
    background-color: transparent;
    box-shadow: none;
    padding-left: 0;
}
.range-block {
    max-width: 592px;
    margin-bottom: 40px;
    grid-column: 1/4;
}
.range-block h6 {
    margin-bottom: 20px;
}
input[type="range"] {
    width: 100%;
}
@media (max-width: 1024px) {
    body {
        padding-top: 10px;
    }
    .content {
        width: 100%;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        grid-column: 1/3;
        font-size: 25px;
        margin-bottom: 0;
    }
    .total-numb h6, h6 {
        font-size: 12px;
        text-decoration: underline;
        margin-bottom: 0;
    }
    .thead {
        grid-column: 1/3;
    }
    .total-numb {
        margin-bottom: 0;
    }
    total-numb input {
        font-size: 35px;
    }
    .range-block {
        grid-column: 1/3;
        margin-bottom: 10px;
    }
    .total-numb input {
        font-size: 35px;
        height: 30px;
    }
}